/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 75%;
}
body {
  background-color: darkgrey;
  font-family: spartan;
}
body p {
  color: rgba(11, 15, 42, 0.827);
  font-size: 1.2rem;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}
.navigation .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.703);
}
.navigation .nav-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30%;
}
@media (max-width: 500px) {
  .navigation .nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }
}
.navigation .nav-bar a {
  text-decoration: none;
  color: rgba(28, 27, 27, 0.649);
}
footer {
  display: flex;
  justify-content: center;
  padding: 1%;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 98%;
  margin: auto;
}
body .hero-container {
  display: flex;
  padding: 1%;
}
body .hero-container .hero-image {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  body .hero-container .hero-image {
    width: 100%;
  }
}
body .hero-container .hero-image img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 60%;
}
body .middle-container {
  display: flex;
  padding: 1%;
}
@media (max-width: 500px) {
  body .middle-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
body .middle-container .middle-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .middle-container .middle-image img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 70%;
  padding: 2%;
}
body .bottom-container {
  display: flex;
  padding: 1%;
}
body .bottom-container .bottom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .bottom-container .bottom-image img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  width: 100%;
  max-width: 60%;
  padding: 2%;
}
@media (max-width: 500px) {
  body .bottom-container .bottom-image img {
    display: none;
  }
}
