* {
    box-sizing: border-box;
  }
html {
    font-size: 75%;
  }
body {
  display: flex;
  flex-direction: column;
  
  margin: auto;
  background-color: whitesmoke;
  font-family: spartan;
  max-width: 98%;
    p {
        color: @caption;
        font-size: 1.2rem;
    }    
}