body {
    display: flex;
    flex-direction: column;
    max-width: 98%;
    margin: auto;
    .hero-container {
        display: flex;
        padding: 1%;
        
        .hero-image {
            // display: flex;
            // justify-content: center;
            position: relative;
            text-align: center;
            color: yellowgreen;
            font-size: 1.8rem;
            @media @phone {
                width: 100%;
            }
            @media @tablet {
                width: 100%;
            }
                .image-text {
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            
            img {
                .rounded-image(10px, 100%);
                max-width: 100%;
                @media @phone {
                    width: 100%;
                }
                @media @tablet {
                    width: 100%;
                }
            }
        }    
    }
    .middle-container {
        display: flex;
        padding: 1%;
        background-color: yellowgreen;
        // transform: skewX(4deg);
        @media @phone {
            display: flex;
            flex-wrap: wrap;
        }
        @media @tablet {
            display: flex;
            flex-wrap: wrap;
        }
        
        .middle-image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            
            img {
                .rounded-image(20px, 100%);
                // transform: skewX(-4deg);
                max-width: 70%;
                padding: 2%;
            }
        }
    }
    .bottom-container {
        display: flex;
        padding: 1%;
        // background-color: yellowgreen;
        // transform: skewX(4deg);
        .bottom-image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
            p {
                @media @phone {
                    display: none;
                } 
            }
           
            img {     
               .rounded-image(40px, 100%);
                max-width: 60%;
                padding: 2%;    
                // transform: skewX(-4deg);
                @media @phone {
                    display: none;
                }
            }
        }
    }
    .enter {
        display: flex;
        justify-content: space-evenly;
        padding: 1%;
        background-color: yellowgreen;
        @media @phone {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        @media @tablet {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .client-trainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            
            img {
                max-width: 300px;
                max-height: 300px;
                border-radius: 6px;
                
            }
            button {
                .rounded-button(6px, 40%);
                @media @phone {
                    .rounded-button(6px; 20%);
                    &:hover {
                        background-color:black;
                        color: yellowgreen;
                      }
                }
                &:hover {
                    background-color:black;
                    color: yellowgreen;
                  }
            }
        }
        
    }
}
