.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid pink 2px;
    .nav-bar {
        display: flex;
        justify-content: space-evenly;   
        padding: 0px 30%;
    }      
}